* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
body {
  background-color: #f3f1ff;
}
main{   
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
}
section {
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
}
.section-title {
  margin: 15px 0px 0px 15px;
  color: #562eff;
}
.top-players,
.blog, .courses{
  display: grid;
  margin: 20px 0px 0px 20px;
}
.top-players, .courses{
  grid-template-columns: repeat(3, 1fr);
}
.player,
.articls {
  display: flex;
  align-items: center;
}
.player img {
  height: 50px;
  margin-right: 20px;
}
.player {
  margin-bottom: 25px;
}
@media (max-width: 992px) {
  .top-players, .courses{
    grid-template-columns: repeat(2, 1fr);
  }
  .course:last-child{
    margin-top: 30px;
  }
}
@media (max-width: 668px) {
  .top-players, .courses{
    grid-template-columns: repeat(1, 1fr);
  }
  .course{
    margin-top: 30px;
  }
}
.blog{
  grid-gap: 25px;
}
.thumbnail img {
  width: 200px;
  padding-right: 20px;
}
p {
  color: rgb(151, 151, 151);
  margin-top: 15px;
}
.blog p a {
  text-decoration: none;
  color: #562eff;
}
.blog {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 668px) {
  .blog{
    grid-template-columns: repeat(1, 1fr);
  }
  .articls{
    display:block;
  }
}
.filled {
  color: gold;
  font-size: 0.8em;
}
.course img{
  width: 250px;
}
.course{
  width: 250px;
  border-radius: 15px;
  box-shadow: 0.5px 0.5px 10px rgb(224, 222, 222);
}
.course a{
  text-decoration: none;
  color: #ed6b4f;
}
.course-info{
  display: flex;
  padding-left: 10px;
}
.rat-point{
  display: inline-block;
  margin-left: 15px;
}
.time-stamp{
  margin: 10px 0px 20px 20px;
  background-color: #ffe4e8;
  color: #ff4a60;
  padding: 4px 4.5px;
  border-radius: 15px;
}
.course-detail  {
  padding-left: 10px
}
header{
  background-color: #562eff;
  padding: 15px 0px;
}
.nav-width{
  width: 850px;
  margin: 0 auto;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  display: flex;
  align-items: center;
  color: white;
  padding:0px 15px;
}
.title i{
  font-size: 50px;
}
nav a{
  text-decoration: none;
  color: white;
  padding: 15px;
}
@media (max-width: 668px) {
  .nav-width{
    width: 100%;
  }
}
@media (max-width: 992px) {
  .nav-width{
    width: 100%;
  }
}